
Window-Form/
TextfileReader/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Info Input/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Info Input/.vs/Info Input/v16/.suo
Info Input/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Info Input/.vs/Info Input/v16/.suo
TextfileReader/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Info Input/.vs/Info Input/v16/.suo
TextfileReader/.vs/TextfileReader/v16/.suo
